// main: stylesheet.scss

.homepage__btn {
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 50px;
    color: $black;
    font-family: 'Cairo';
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    text-transform: uppercase;
    transition: background .3s;

    &:hover {
        background: none;
        border: 1px solid $white;
        color: $white;
        text-decoration: none;
    }
}

.homepage__btn--inverse {
    background: none;
    border: 1px solid $white;
    color: $white;

    &:hover {
        background-color: $white;
        color: $black;
    }
}
