// main: stylesheet.scss

@media (min-width: 1200px) {
    .container {
        max-width: 1050px !important;
    }
}

.main-title {
    margin-bottom: 20px;
}

.sub-title {
    font-size: $font-size-h4;
    margin-bottom: 15px;
}

.styled-title {
    align-items: center;
    border-radius: 5px 5px 0 0;
    display: flex;
    font-size: $font-size-base;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}

.gameweek-list__fixture {
    background: #ace7b7;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gameweek-list-list__fixture--default {
    background: $brand-primary;
}

.gameweek-list__kickoff {
    background: darken(#ace7b7, 10%);
    margin-bottom: 25px;
}

.gameweek-list__kickoff--default {
    background: darken($brand-primary, 10%);
}

.gameweek-list__team-name {
    font-weight: 600;
}

.gameweek-list__bottom {
    background: darken(#ace7b7, 5%);
    border-radius: 0 0 6px 6px;
    margin-top: 25px;
    padding: 20px 0;
    width: 100%;
}

.gameweek-list__bottom--default {
    background: darken($brand-primary, 5%);
}

.gameweek-list__round-small {
    background: darken(#ace7b7, 15%);
    border-radius: 6px;
    display: inline;
    font-size: $font-size-lg;
    font-weight: bold;
    margin-left: 5px;
    padding: 10px 20px;
}

.gameweek-list__round-small--default {
    background: darken($brand-primary, 15%);
}

.gameweek-list__prediction {
    align-self: center;
    display: flex;
    font-size: $font-size-base;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

.results-list__fixture {
    align-items: center;
    border-bottom: 1px solid darken($brand-primary, 10%);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-child {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.results-list__title {
    background: darken($gray-lighter, 5%);
    margin-bottom: 0;
}

.results-list__final-score {
    background: #e3393f;
    color: $white;
    font-size: $font-size-sm;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2px 5px;
}

.results-list__wrapper {
    background: $gray-lighter;
    padding: 15px;
}

.your-prediction {
    font-weight: 600;
    margin-bottom: 20px;
}

.rectangle-bk {
    align-self: center;
    background: $black;
    display: flex;
    height: 5px;
    margin: 0 15px;
    width: 25px;
}

.score {
    display: flex;
    margin: 0 auto;
    width: 130px;
}

.homepage__bg {
    background: url('/images/homepage-bg.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    width: 100%;
}

.homepage__welcome-area {
    align-self: center;
    background: rgba(#505050, .6);
    border-radius: 3px;
    box-shadow: 0 0 9px 0 rgba($black, .7);
    color: $black;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    width: 440px;
}

.homepage__subtitle {
    color: $white;
    font-family: 'Cairo';
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;

    &::after {
        background: $white;
        bottom: 0;
        content: '';
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 50%;
    }
}

.logo {
    margin-bottom: 30px;

    span {
        color: $black;
        font-size: 12px;
    }
}

.logo-circle {
    background: $brand-primary;
    border-radius: 50%;
    height: 70px;
    margin: 0 auto 10px;
    padding-top: 15px;
    width: 70px;
}
